@charset "utf-8";
/* CSS Document */

.background_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(25px);
	-moz-filter: blur(25px);
	-o-filter: blur(25px);
	-ms-filter: blur(25px);
	filter: blur(25px);
}
.badge_container {
	position: absolute;
	top: 16vh;
	left: 50%;
	height: 60vh;
	width: 40vh;
	background: transparent;
	border-radius: 2.5vh;
	transform: translateX(-50%);
	box-shadow: 0px 0px 2.5vh 0.2vh rgb(200, 200, 200);
}
.up_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40vh;
	height: 30vh;
	background: transparent;
	border-top-left-radius: 2.5vh;
	border-top-right-radius: 2.5vh;
}
.up_img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	float: left;
	border-top-left-radius: 2.5vh;
	border-top-right-radius: 2.5vh;	
}
.up_img:hover {
	cursor: pointer;
}

.up_hole {
	position: absolute;
	top: 2.1vh;
	left: 14.2vh;
	width: 11.6vh;
	height: 2.4vh;
	border-radius: 2vh;
	box-shadow: inset 0 0 1.5vh 0.2vh rgb(200, 200, 200);
}
.change_pic {
	position: absolute;
	top: 25.5vh;
	left: 35.4vh;
	width: 3.5vh;
	z-index: 10;
	opacity: 0.6;
}
.down_container {
	position: absolute;
	top: 30vh;
	left: 0px;
	width: 40vh;
	height: 30vh;
	background: transparent;
	border-bottom-left-radius: 2.5vh;
	border-bottom-right-radius: 2.5vh;
	background: rgb( 240, 240, 240);
}
.company_name {
position: absolute;
top: 3.2vh;
left: 0vh;
width: 40vh;
height: 5vh;
line-height: 5vh;
font-family: arial;
color: rgb(117, 117, 117);
font-weight: bold;
font-size: 2.95vh;
text-align: center;
}
.email_input {
position: absolute;
top: 10.5vh;
left: 5vh;
width: 28.5vh;
height: 4.8vh;
background: rgb(128, 128, 128);
border-radius: 1vh;
line-height: 4.8vh;
padding-left: 1.5vh;
font-family: arial;
color: white;
font-size: 2.2vh;
border-style: none;
border-width: 0px;
}
.email_input:focus{
background: rgb(51,176,240);
text-decoration: none;
outline: 0px;
box-shadow: 0 0 7px black;
}
.pw_input {
position: absolute;
top: 17.2vh;
left: 5vh;
width: 28.5vh;
height: 4.8vh;
background: rgb(128, 128, 128);
border-radius: 1vh;
line-height: 4.8vh;
padding-left: 1.5vh;
font-family: arial;
color: white;
font-size: 2.2vh;
border-style: none;
border-width: 0px;
}
.pw_input:focus{
background: rgb(51,176,240);
text-decoration: none;
outline: 0px;
box-shadow: 0 0 7px black;
}
.login_bn {
position: absolute;
top: 17.2vh;
left: 27vh;
width: 8vh;
height: 5vh;
background: rgb(245, 130, 33);
border-radius: 1vh;
line-height: 5vh;
font-family: arial;
color: white;
font-size: 2vh;
text-align: center;
font-weight: bold;
}
.login_bn:hover {
background: black;
cursor: pointer;
}
.sign_bn {
position: absolute;
top: 24.5vh;
left: 2.4vh;
width: 13vh;
height: 5.2vh;
border-radius: 1vh;
line-height: 5.2vh;
font-family: arial;
color: rgb(51, 176, 240);
font-size: 2vh;
text-align: center;
font-weight: bold;
}
.sign_bn:hover {
color: rgb(245, 130, 33);
cursor: pointer;
}
.visitor_bn {
position: absolute;
top: 24.5vh;
left: 23vh;
width: 13vh;
height: 5.2vh;
border-radius: 1vh;
line-height: 5.2vh;
font-family: arial;
color: rgb(51, 176, 240);
font-size: 2vh;
text-align: center;
font-weight: bold;
}
.visitor_bn:hover {
color: rgb(245, 130, 33);
cursor: pointer;
}
.under_badge_text {
	position: absolute;
	top: 96vh;
	left: 50%;
	width: 60vh;
	font-family: arial;
	font-size: 1.8vh;
	text-align: center;
	background: transparent;
	transform: translateX(-50%);
	color: rgb(120,120,120);
	font-weight: bold;
}
.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }